@import '../node_modules/bootstrap/scss/bootstrap';

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.my-container {
  position: relative;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #494252; 
    border-radius: 10px;
  }
  .inner {
    position: relative;
  }
}

.dark-mode {
  background-color: #170F23;
  .font-color { 
    color: #fff;
  }
}
.light-mode {
  background: rgba(255, 255, 255, 0.7);
  .font-color { 
    color: #000;
  }
}
