@import '../node_modules/bootstrap/scss/bootstrap';

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.my-container {
  position: relative;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  background-color: #170F23;
  .inner {
    position: relative;
    height: 100%;
  }
}

.dark-mode {
  background-color: #170F23;
  .font-color { 
    color: #fff;
  }
}
.light-mode {
  background-color: #fff;
  .font-color { 
    color: #000;
  }
}
